APP_ENV=production
APP_DEBUG=false

# 如果部署多个站点 不能重复
# 只能用英文字母
APP_NAME=ssl

APP_KEY=

# 数据库配置
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
# MySQL 5.7 设置 utf8mb4_general_ci，留空使用服务器默认
DB_COLLATION=

# JWT密钥
JWT_SECRET=
