# IDE和编辑器
.idea
.vscode
*.sublime-project
*.sublime-workspace
.project

# 临时文件
*.swp
*.swo
*.tmp
*.temp
.DS_Store
Thumbs.db

# 缓存
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.der
/storage/*.key
/storage/*.crt
/storage/*.pem
/storage/*.jks
/storage/*.pfx
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/domain-rules/*
/bootstrap/cache/*
/vendor
.env
.env.testing
.env.backup
.env.production
.env.prod
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
/_ide_helper_models.php
/_ide_helper.php
/.phpstorm.meta.php
/config/ide-helper.php
